<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.launcher3.tests">

    <uses-sdk android:targetSdkVersion="29" android:minSdkVersion="25"
              tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <application android:debuggable="true">
        <uses-library android:name="android.test.runner" />
        <activity android:name="platform.test.screenshot.ScreenshotActivity" android:exported="true"/>
    </application>

    <instrumentation
        android:functionalTest="false"
        android:handleProfiling="false"
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.android.launcher3" >
        <meta-data android:name="listener"
            android:value="com.android.launcher3.util.GlobalTestRunListener"/>
    </instrumentation>
</manifest>
